:root {
    --main-heading-light-mode-color: #211F25;
    --main-heading-dark-mode-color: #FFFFFF;
    --main-paragraph-light-mode-color: #3D3A41;
    --main-paragraph-dark-mode-color: #D6D6D6;
    --main-heading-font-family: "Nunito", sans-serif;
    --secondary-heading-font-family: "Roboto", sans-serif;
}